.highlight-info-txt {
  font-weight: 700;
  font-size: 18px;
}
.card .card-body {
  padding-top: 5px;
}
.card-body .mb-3 {
  margin-top: 0 !important;
}
.card .btn {
  width: 100%;
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-wrapper .social-login-btn {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-wrapper .naver-btn {
  background-color: #03c75a;
}
.btn-wrapper .google-btn {
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.btn-wrapper .kakao-btn {
  overflow: hidden;
  background-color: #ffeb00;
}
.btn-wrapper .social-login-btn img {
  width: 30px;
}
.btn-wrapper .google-btn img {
  width: 25px;
  height: 25px;
}
.naver-btn,
.kakao-btn {
  margin-right: 10px;
}
.card .bg-transparent .signup-check-btn {
  width: 105px;
  background-color: #ffffff;
  color: #8898aa;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
  padding: 0.625rem 0.25rem;
}
.card .bg-transparent .second-tab-btn {
  width: 75px;
}
.auth-num-check-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-num-check-form span,
.auth-num-check-form .form-group {
  margin-bottom: 0 !important;
}
.auth-num-check-button-group {
  display: flex;
  margin-left: 10px;
}
.auth-num-check-form span {
  width: 100%;
}
.auth-num-check-area {
  margin-bottom: 1.5rem;
}
.wrapper .navbar-vertical .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 700;
}
.wrapper .navbar-vertical .navbar-nav .nav-link > i {
  font-size: 24px;
  margin-right: 10px;
}
.header .text-white {
  word-break: keep-all;
}
.go-login {
  margin-left: 5px;
}
.go-login small {
  text-decoration: underline;
}
a {
  cursor: pointer;
}
a * {
  cursor: pointer !important;
}
h1,
h6,
p,
small {
  cursor: default;
}
.navbar-wrapper a.navbar-brand,
.navbar-wrapper a.navbar-brand img,
.collapse-brand a img {
  cursor: default !important;
}
.wrapper .navbar-horizontal .navbar-nav .nav-link .nav-link-inner--text {
  margin-left: 10px;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    width: calc(100% - 1.4rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: 0.7rem;
    overflow-y: auto;
    height: auto !important;
    opacity: 0;
  }
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    padding: 1.5rem;
    border-radius: 0.375rem;
    background: #fff;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
      0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    animation: show-navbar-collapse 0.2s ease forwards;
  }
  .navbar-collapse .navbar-collapse-header {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-nav .nav-link {
    padding: 0.625rem 0;
    color: #172b4d !important;
  }
  .navbar-collapse .collapse-brand img {
    height: 36px;
  }
  .navbar-collapse .collapse-close {
    text-align: right;
  }
  .navbar-collapse .navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0;
  }
  .navbar-collapse .navbar-toggler :nth-child(1) {
    transform: rotate(135deg);
  }
  .navbar-collapse .navbar-toggler :nth-child(2) {
    transform: rotate(-135deg);
  }
  .navbar-collapse .navbar-toggler span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    opacity: 1;
    background: #283448;
  }
}
