<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wecheck.app.user.mapper.UserMapper">
    <select id="checkDuplicateNickname" parameterType="String" resultType="com.wecheck.app.user.dto.UserDto">
        SELECT
            *
        FROM users
        WHERE nickname = #{nickname}
        AND del_date IS NULL
    </select>
    <select id="checkDuplicateLoginId" parameterType="String" resultType="com.wecheck.app.user.dto.UserDto">
        SELECT
            A.*,
            B.*
        FROM user_auth A
        INNER JOIN users B ON B.user_id = A.user_id
        WHERE B.del_date IS NULL
        AND A.login_id = #{loginId}
    </select>
</mapper>